<%= simple_form_for([@project, @project.product_line_items.build], html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :product_line_item_quantity %>
    <%= f.input :style %>
    <%= f.input :color %>
    <%= f.input :yxs %>
    <%= f.input :ys %>
    <%= f.input :ym %>
    <%= f.input :yl %>
    <%= f.input :yxl %>
    <%= f.input :xs %>
    <%= f.input :small %>
    <%= f.input :medium %>
    <%= f.input :large %>
    <%= f.input :xl %>
    <%= f.input :xxl %>
    <%= f.input :threexl %>
    <%= f.input :fourxl %>
    <%= f.input :fivexl %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
