<h1>Product Information</h1>
<table class="table table-striped" >
  <tr>
    <th>Quantity</th>
    <th>Style</th>
    <th>Color</th>
    <th>YXS</th>
    <th>YS</th>
    <th>YM</th>
    <th>YL</th>
    <th>YXL</th>
    <th>XS</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
    <th>3XL</th>
    <th>4XL</th>
    <th>5XL</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @product_line_items.each do |product_line_item| %>
  <tr>
    <td><%= product_line_item.product_line_item_quantity %></td>
    <td><%= product_line_item.style %></td>
    <td><%= product_line_item.color %></td>
    <td><%= product_line_item.yxs %></td>
    <td><%= product_line_item.ys %></td>
    <td><%= product_line_item.ym %></td>
    <td><%= product_line_item.yl %></td>
    <td><%= product_line_item.yxl %></td>
    <td><%= product_line_item.xs %></td>
    <td><%= product_line_item.small %></td>
    <td><%= product_line_item.medium %></td>
    <td><%= product_line_item.large %></td>
    <td><%= product_line_item.xl %></td>
    <td><%= product_line_item.xxl %></td>
    <td><%= product_line_item.threexl %></td>
    <td><%= product_line_item.fourxl %></td>
    <td><%= product_line_item.fivexl %></td>
  </tr>
<% end %>
</table>

<br />
