<p id="notice"><%= notice %></p>

<p>
  <b>Quantity:</b>
  <%= @product_line_item.product_line_item_quantity %>
</p>

<p>
  <b>Style:</b>
  <%= @product_line_item.style %>
</p>

<p>
  <b>Color:</b>
  <%= @product_line_item.color %>
</p>

<p>
  <b>YXS:</b>
  <%= @product_line_item.yxs %>
</p>

<p>
  <b>YS:</b>
  <%= @product_line_item.ys %>
</p>

<p>
  <b>YM:</b>
  <%= @product_line_item.ym %>
</p>

<p>
  <b>YL:</b>
  <%= @product_line_item.yl %>
</p>

<p>
  <b>YXL:</b>
  <%= @product_line_item.yxl %>
</p>

<p>
  <b>XS:</b>
  <%= @product_line_item.xs %>
</p>

<p>
  <b>S:</b>
  <%= @product_line_item.small %>
</p>

<p>
  <b>M:</b>
  <%= @product_line_item.medium %>
</p>

<p>
  <b>L:</b>
  <%= @product_line_item.large %>
</p>

<p>
  <b>XL:</b>
  <%= @product_line_item.xl %>
</p>

<p>
  <b>2XL:</b>
  <%= @product_line_item.xxl %>
</p>

<p>
  <b>3XL:</b>
  <%= @product_line_item.threexl %>
</p>

<p>
  <b>4XL:</b>
  <%= @product_line_item.fourxl %>
</p>

<p>
  <b>5XL:</b>
  <%= @product_line_item.fivexl %>
</p>