<!-- This is the Home page for logged in users -->
<% if user_signed_in? %>
  <%= link_to "New Order", new_order_path, class: "btn btn-primary btn-large" %>
  <%= link_to "Production", orders_path, class: "btn btn-primary btn-large" %>
<!-- This is the Home page for logged in users --> 
<% else %>
  <div class="row homepage"><br><br><br><br>
      <div class="span5">
        <div class="hero-unit signup">
          <center>
            <h2 class="signup">Let's get to Work.</h2>
            <p class="signup">Spend less time tracking and more time doing.</p>
          </center>
            <center>
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <%= f.email_field :email, label: false, placeholder: "Email" %><br>
                <%= f.password_field :password, label: false, placeholder: "Password" %><br>
                <%= f.password_field :password_confirmation, label: false, placeholder: "Password Confirmation" %><br><br>
                <div> 
                  <%= f.submit "Sign Up", class: "btn btn-warning btn-large" %>
                  <%= link_to "Sign In", new_user_session_path, class: "btn btn-info btn-large" %>
                </div>
            </center>
          <% end %>
        </div><br><br><br><br><br><br><br><br>
      </div>
  </div>
<% end %>