<center><h1>Production</h1></center>
<%= link_to '', new_project_path, class: "icon-plus" %>

<table class="table table-striped">
  <tr>
    <th>Project Name</th>
    <th>Project Type</th>
    <th>New Order</th>
    <th>Due Date</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
<% @projects.each do |project| %>
  <tr>
    <td><%= project.project_name %></td>
    <td><%= project.project_type %></td>
    <td><%= project.new_order %></td>
    <td><%= project.due_date %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />