<p id="notice"><%= notice %></p>

<p>
  <b>Comments:</b>
  <%= @project.comments %>
  <b>Project Name:</b>
  <%= @project.project_name %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
