<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<%= image_tag @project.image %>
			<p>
	  		<%= @project.description %>
			</p>
			<p>
	  		<%= @project.user.name %>
			</p>
			<% if current_user == @project.user %>

			<%= link_to '', edit_project_path(@project), class: "icon-edit" %> |
			<% end %>
			<%= link_to '', projects_path, class: "icon-arrow-left" %>
		</div>
	</div>
</div>