<p id="notice"><%= notice %></p>



<p>
  <b>Comments:</b>
  <%= @project.comments %>
</p>

<p>
  <b>Type:</b>
  <%= @project.project_type %>
</p>

<p>
  <b>Project Name:</b>
  <%= @project.project_name %>
</p>

<p>
  <b>Shipping to Name:</b>
  <%= @project.shipping_name %>
</p>

<p>
  <b>Address:</b>
  <%= @project.shipping_address %>
</p>

<p>
  <b>City:</b>
  <%= @project.shipping_city %>
</p>

<p>
  <b>State:</b>
  <%= @project.shipping_state %>
</p>

<p>
  <b>Zip:</b>
  <%= @project.shipping_zip %>
</p>

<p>
  <b>Ink color(s) on Front:</b>
  <%= @project.ink_color_front %>
</p>

<p>
  <b>Ink color(s) on Back:</b>
  <%= @project.ink_color_back %>
</p>

<p>
  <b>Ink color(s) on sleeve:</b>
  <%= @project.ink_color_sleeve %>
</p>

<p>
  <b>New Order?:</b>
  <%= @project.new_order %>
</p>

<p>
  <b>Re-Order?:</b>
  <%= @project.re_order %>
</p>

<p>
  <b>Due Date:</b>
  <%= @project.due_date %>
</p>

<p>
  <b>Due Date:</b>
  <%= @project.need_shipping %>
</p>

<p>
  <b>full front:</b>
  <%= @project.print_location_front %>
</p>

<p>
  <b>Left Chest:</b>
  <%= @project.print_location_front_left %>
</p>

<p>
  <b>Right Chest:</b>
  <%= @project.print_location_front_right %>
</p>

<p>
  <b>Full Back:</b>
  <%= @project.print_location_back %>
</p>

<p>
  <b>Tag Line:</b>
  <%= @project.print_location_back_tag %>
</p>

<p>
  <b>Left Sleeve:</b>
  <%= @project.print_location_sleeve_left %>
</p>

<p>
  <b>Right Sleeve:</b>
  <%= @project.print_location_sleeve_right %>
</p>

<p>
  <b>Customer Name:</b>
  <%= @project.billing_name %>
</p>


<p>
  <b>Customer Address:</b>
  <%= @project.billing_address %>
</p>
<p>
  <b>Customer Address:</b>
  <%= @project.billing_city %>
</p>

<p>
  <b>State:</b>
  <%= @project.billing_state %>
</p>

<p>
  <b>Zip:</b>
  <%= @project.billing_zip %>
</p>

<p>
  <b>Email:</b>
  <%= @project.billing_email %>
</p>

<p>
  <b>Phone:</b>
  <%= @project.billing_phone %>
</p>

<%= link_to '', edit_project_path(@project), class: "icon-edit" %> |
<%= link_to '', projects_path, class: "icon-arrow-left" %>

